{% extends "Base.html" %}

{% block mainContent %}

<div class="container text-center">
    <div class="row">

        <div class="col-4">
            <a class="btn btn-secondary btn-block" href="user-user">User Manager</a>
        </div>

        <div class="col-4">
            <a class="btn btn-secondary btn-block disabled" href="user-product">Product</a>
        </div>

        <div class="col-4">
            <a class="btn btn-secondary btn-block" href="user-purchase">Purchase</a>
        </div>

    </div>
</div>

<br>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header h1">Add Product</div> 
                    <div class="card-body">
                        <form method = "POST">
                            <div class ="form-group">
                                <input type="text" class="form-control mb-3" name="productName" placeholder="Product Name">
                                
                                <ul class="list-group list-group-horizontal mb-3">
                                    <li class="list-group-item list-group-item-dark" aria-current="true">Type:</li>
                                    <label class="list-group-item"><input class="form-check-input" type="radio" name="ModelType" value="3DPrint">    3D Print</label>
                                    <label class="list-group-item"><input class="form-check-input" type="radio" name="ModelType" value="Game">       Game</label>
                                    <label class="list-group-item"><input class="form-check-input" type="radio" name="ModelType" value="PBR">        PBR</label>
                                </ul>

                                <ul class="list-group list-group-horizontal mb-3">
                                    <li class="list-group-item list-group-item-dark" aria-current="true">Sub-Type Model:</li>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="ModelSubType" value="Animal">      Animal</label>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="ModelSubType" value="Character">   Character</label>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="ModelSubType" value="Food">        Food</label>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="ModelSubType" value="Plant">       Plant</label>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="ModelSubType" value="Weapon">      Weapon</label>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="ModelSubType" value="Vehicle">     Vehicle</label>
                                </ul>

                                <div class="list-group">
                                    <input type="number" class="form-control" min="0.01" step="0.01" name="productPrice" placeholder="Price" value="1.00">
                                </div>

                            </div>
    
                            <br>
                            <button class="btn btn-warning" name="userSubmitButton" value="addProductButton" type="submit">Add</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>  
</div>

<br>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header h1">Modify Product</div> 
                    <div class="card-body">
                        <form method = "POST">
                            <div class ="form-group">

                                <input type="text" class="form-control mb-3" name="changedProductID" placeholder="Targeted product ID">

                                <input type="text" class="form-control mb-3" name="changedProductName" placeholder="New product name">
                                
                                <ul class="list-group list-group-horizontal mb-3">
                                    <li class="list-group-item list-group-item-dark" aria-current="true">Type:</li>
                                    <label class="list-group-item"><input class="form-check-input" type="radio" name="changedModelType" value="3DPrint">    3D Print</label>
                                    <label class="list-group-item"><input class="form-check-input" type="radio" name="changedModelType" value="Game">       Game</label>
                                    <label class="list-group-item"><input class="form-check-input" type="radio" name="changedModelType" value="PBR">        PBR</label>
                                </ul>

                                <ul class="list-group list-group-horizontal mb-3">
                                    <li class="list-group-item list-group-item-dark" aria-current="true">Sub-Type Model:</li>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="changedModelSubType" value="Animal">      Animal</label>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="changedModelSubType" value="Character">   Character</label>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="changedModelSubType" value="Food">        Food</label>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="changedModelSubType" value="Plant">       Plant</label>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="changedModelSubType" value="Weapon">      Weapon</label>
                                    <label class="list-group-item"><input class="form-check-input" type="checkbox" name="changedModelSubType" value="Vehicle">     Vehicle</label>
                                </ul>

                                <div class="list-group">
                                    <input type="number" class="form-control" min="0.01" name="changedProductPrice" placeholder="New price">
                                </div>



                            </div>
    
                            <br>
                            <button class="btn btn-warning" name="userSubmitButton" value="changedProductButton" type="submit">Change</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>  
</div>

<br>

{%endblock%}